#bg-img{
    width: 100vw;
    height: 100vh;
    filter: blur(100px);
    z-index: 1;
}

#loadingEl{
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 3;
    left: 0px;
    top: 0px;
    font-size: 30px;
    color: white;
}